In [14]:
import pandas as pd
import numpy as np
BPSO = pd.read_csv("Dataset1_BPSO.txt", index_col=False)
BPSO_OBL = pd.read_csv("Dataset1_BPSO+OBL.txt", index_col=False)
SFS = pd.read_csv("Dataset1_sfs.txt", index_col=False)

In [15]:
BPSO

   Train Score  Test Score
0     0.982418    0.964912
1     0.982418    0.982456
2     0.984615    0.956140
3     0.982418    0.982456
4     0.980220    0.964912
5     0.984615    0.973684
6     0.984615    0.964912
7     0.986813    0.938596
8     0.984615    0.964912
9     0.980220    0.982456

In [16]:
BPSO_OBL

   Train Score  Test Score
0     0.980220    0.964912
1     0.984615    0.982456
2     0.986813    0.956140
3     0.982418    0.982456
4     0.982418    0.982456
5     0.980220    0.982456
6     0.984615    0.964912
7     0.986813    0.947368
8     0.984615    0.982456
9     0.980220    0.991228

In [17]:
SFS

   Train Score  Test Score
0     0.973626    0.956140
1     0.978022    0.982456
2     0.982418    0.964912
3     0.980220    0.964912
4     0.978022    0.973684
5     0.980220    0.982456
6     0.982418    0.956140
7     0.984615    0.964912
8     0.975824    0.982456
9     0.973626    0.973684

In [18]:
BPSO.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.983297    0.967544
std       0.002123    0.013746
min       0.980220    0.938596
25%       0.982418    0.964912
50%       0.983516    0.964912
75%       0.984615    0.980263
max       0.986813    0.982456

In [19]:
BPSO_OBL.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.983297    0.973684
std       0.002580    0.014325
min       0.980220    0.947368
25%       0.980769    0.964912
50%       0.983516    0.982456
75%       0.984615    0.982456
max       0.986813    0.991228

In [20]:
SFS.describe()

       Train Score  Test Score
count    10.000000   10.000000
mean      0.978901    0.970175
std       0.003764    0.010296
min       0.973626    0.956140
25%       0.976374    0.964912
50%       0.979121    0.969298
75%       0.981868    0.980263
max       0.984615    0.982456

In [21]:
SFS.describe().iloc[1]

Train Score    0.978901
Test Score     0.970175
Name: mean, dtype: float64

In [22]:
BPSO.describe().iloc[1]

Train Score    0.983297
Test Score     0.967544
Name: mean, dtype: float64

In [23]:
BPSO_OBL.describe().iloc[1]

Train Score    0.983297
Test Score     0.973684
Name: mean, dtype: float64

In [24]:
Results = pd.DataFrame()

In [25]:
Results['BPSO']= BPSO.describe().iloc[1]
Results['BPSO+OBL']=BPSO_OBL.describe().iloc[1]
Results['SFS'] = SFS.describe().iloc[1]

In [26]:
Results

                 BPSO  BPSO+OBL       SFS
Train Score  0.983297  0.983297  0.978901
Test Score   0.967544  0.973684  0.970175