In [40]:
import pandas as pd
import numpy as np
BPSO = pd.read_csv("Dataset1_BPSO.txt", index_col=False)
BPSO_OBL = pd.read_csv("Dataset1_BPSO+OBL.txt", index_col=False)
SFS = pd.read_csv("Dataset1_SFS.txt", index_col=False)
Results = pd.DataFrame()
Results2= pd.DataFrame()

In [41]:
Results['BPSO']= BPSO['Train Score']
Results['BPSO_OBL']=BPSO_OBL['Train Score']
Results['SFS'] = SFS['Train Score']

In [42]:
Results2['BPSO_2']= BPSO['Test Score']
Results2['BPSO_OBL_2']=BPSO_OBL['Test Score']
Results2['SFS_2'] = SFS['Test Score']

In [43]:
Results

       BPSO  BPSO_OBL       SFS
0  0.857143  0.918681  0.973626
1  0.692308  0.931868  0.980220
2  0.901099  0.800000  0.986813
3  0.804396  0.923077  0.978022
4  0.934066  0.668132  0.978022
5  0.791209  0.837363  0.984615
6  0.934066  0.936264  0.984615
7  0.918681  0.947253  0.984615
8  0.861538  0.920879  0.978022
9  0.918681  0.828571  0.975824

In [44]:
Results.describe()

            BPSO   BPSO_OBL        SFS
count  10.000000  10.000000  10.000000
mean    0.861319   0.871209   0.980440
std     0.078518   0.088431   0.004450
min     0.692308   0.668132   0.973626
25%     0.817582   0.830769   0.978022
50%     0.881319   0.919780   0.979121
75%     0.918681   0.929670   0.984615
max     0.934066   0.947253   0.986813

In [45]:
Results2

     BPSO_2  BPSO_OBL_2     SFS_2
0  0.859649    0.947368  0.956140
1  0.710526    0.929825  0.973684
2  0.850877    0.798246  0.964912
3  0.789474    0.912281  0.964912
4  0.912281    0.692982  0.982456
5  0.763158    0.807018  0.982456
6  0.894737    0.903509  0.947368
7  0.921053    0.938596  0.938596
8  0.850877    0.894737  0.973684
9  0.947368    0.912281  0.973684

In [46]:
Results2.describe()

          BPSO_2  BPSO_OBL_2      SFS_2
count  10.000000   10.000000  10.000000
mean    0.850000    0.873684   0.965789
std     0.075397    0.081578   0.014591
min     0.710526    0.692982   0.938596
25%     0.804825    0.828947   0.958333
50%     0.855263    0.907895   0.969298
75%     0.907895    0.925439   0.973684
max     0.947368    0.947368   0.982456

In [47]:
ResultsTrain = pd.melt(Results,var_name='Type', value_name='Train_Score')
ResultsTrain = ResultsTrain.reset_index(drop=True)

Results2Test = pd.melt(Results2,var_name='Type', value_name='Test_Score')
Results2Test = Results2Test.reset_index(drop=True)

In [48]:
ResultsTrain

        Type  Train_Score
0       BPSO     0.857143
1       BPSO     0.692308
2       BPSO     0.901099
3       BPSO     0.804396
4       BPSO     0.934066
5       BPSO     0.791209
6       BPSO     0.934066
7       BPSO     0.918681
8       BPSO     0.861538
9       BPSO     0.918681
10  BPSO_OBL     0.918681
11  BPSO_OBL     0.931868
12  BPSO_OBL     0.800000
13  BPSO_OBL     0.923077
14  BPSO_OBL     0.668132
15  BPSO_OBL     0.837363
16  BPSO_OBL     0.936264
17  BPSO_OBL     0.947253
18  BPSO_OBL     0.920879
19  BPSO_OBL     0.828571
20       SFS     0.973626
21       SFS     0.980220
22       SFS     0.986813
23       SFS     0.978022
24       SFS     0.978022
25       SFS     0.984615
26       SFS     0.984615
27       SFS     0.984615
28       SFS     0.978022
29       SFS     0.975824

In [49]:
Results2Test

          Type  Test_Score
0       BPSO_2    0.859649
1       BPSO_2    0.710526
2       BPSO_2    0.850877
3       BPSO_2    0.789474
4       BPSO_2    0.912281
5       BPSO_2    0.763158
6       BPSO_2    0.894737
7       BPSO_2    0.921053
8       BPSO_2    0.850877
9       BPSO_2    0.947368
10  BPSO_OBL_2    0.947368
11  BPSO_OBL_2    0.929825
12  BPSO_OBL_2    0.798246
13  BPSO_OBL_2    0.912281
14  BPSO_OBL_2    0.692982
15  BPSO_OBL_2    0.807018
16  BPSO_OBL_2    0.903509
17  BPSO_OBL_2    0.938596
18  BPSO_OBL_2    0.894737
19  BPSO_OBL_2    0.912281
20       SFS_2    0.956140
21       SFS_2    0.973684
22       SFS_2    0.964912
23       SFS_2    0.964912
24       SFS_2    0.982456
25       SFS_2    0.982456
26       SFS_2    0.947368
27       SFS_2    0.938596
28       SFS_2    0.973684
29       SFS_2    0.973684

In [50]:
ResultsTrain['Type']= ResultsTrain['Type'].astype('category')
Results2Test['Type']= Results2Test['Type'].astype('category')

In [51]:
import matplotlib.pyplot as plt
import seaborn
%matplotlib inline

In [52]:
#Train Score
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi 

model1= smf.ols('Train_Score ~ C(Type)', data=ResultsTrain)
results= model1.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Train_Score   R-squared:                       0.409
Model:                            OLS   Adj. R-squared:                  0.366
Method:                 Least Squares   F-statistic:                     9.361
Date:                Wed, 12 Jun 2019   Prob (F-statistic):           0.000816
Time:                        16:03:11   Log-Likelihood:                 39.517
No. Observations:                  30   AIC:                            -73.03
Df Residuals:                      27   BIC:                            -68.83
Df Model:                           2
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               0.8613      0.022     39.864      0.000       0.817       0.906
C(Type)[T.BPSO_OBL]     0.0099      0.031      0.324      0.749      -0.053       0.073
C(Type)[T.SFS]          0.1191      0.031      3.898      0.001       0.056       0.182
==============================================================================
Omnibus:                       15.139   Durbin-Watson:                   2.314
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               16.200
Skew:                          -1.431   Prob(JB):                     0.000304
Kurtosis:                       5.184   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [54]:
mc1 = multi.MultiComparison(ResultsTrain['Train_Score'], ResultsTrain['Type'])
res1 = mc1.tukeyhsd()
print(res1.summary())

Multiple Comparison of Means - Tukey HSD,FWER=0.05
================================================
 group1   group2  meandiff  lower  upper  reject
------------------------------------------------
  BPSO   BPSO_OBL  0.0099  -0.0659 0.0856 False
  BPSO     SFS     0.1191   0.0434 0.1949  True
BPSO_OBL   SFS     0.1092   0.0335 0.185   True
------------------------------------------------

In [55]:
#Test Scores
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi 

model1= smf.ols('Test_Score ~ C(Type)', data=Results2Test)
results= model1.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Test_Score   R-squared:                       0.398
Model:                            OLS   Adj. R-squared:                  0.354
Method:                 Least Squares   F-statistic:                     8.943
Date:                Wed, 12 Jun 2019   Prob (F-statistic):            0.00105
Time:                        16:03:30   Log-Likelihood:                 41.159
No. Observations:                  30   AIC:                            -76.32
Df Residuals:                      27   BIC:                            -72.11
Df Model:                           2
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.8500      0.020     41.554      0.000       0.808       0.892
C(Type)[T.BPSO_OBL_2]     0.0237      0.029      0.819      0.420      -0.036       0.083
C(Type)[T.SFS_2]          0.1158      0.029      4.003      0.000       0.056       0.175
==============================================================================
Omnibus:                        9.274   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.010   Jarque-Bera (JB):                7.685
Skew:                          -1.099   Prob(JB):                       0.0214
Kurtosis:                       4.149   Cond. No.                         3.73
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [56]:
mc1 = multi.MultiComparison(Results2Test['Test_Score'], Results2Test['Type'])
res1 = mc1.tukeyhsd()
print(res1.summary())

 Multiple Comparison of Means - Tukey HSD,FWER=0.05
===================================================
  group1     group2   meandiff lower  upper  reject
---------------------------------------------------
  BPSO_2   BPSO_OBL_2  0.0237  -0.048 0.0954 False
  BPSO_2     SFS_2     0.1158  0.0441 0.1875  True
BPSO_OBL_2   SFS_2     0.0921  0.0204 0.1638  True
---------------------------------------------------

TRAIN

In [62]:
from scipy import stats
t_value, p_value = stats.ttest_ind(np.array(Results['BPSO_OBL']), np.array(Results['BPSO']))

In [63]:
t_value

0.26446552215952834

In [64]:
from scipy import stats
t_value2, p_value2 = stats.ttest_ind(np.array(Results['SFS']), np.array(Results['BPSO']))

In [65]:
t_value2

4.789858513649509

In [66]:
from scipy import stats
t_value3, p_value3 = stats.ttest_ind(np.array(Results['SFS']), np.array(Results['BPSO_OBL']))

In [67]:
t_value3

3.9011501772462007

TEST

In [71]:
from scipy import stats
t_value4, p_value4 = stats.ttest_ind(np.array(Results2['BPSO_OBL_2']), np.array(Results2['BPSO_2']))

In [72]:
t_value4

0.6742278893121012

In [74]:
from scipy import stats
t_value5, p_value5 = stats.ttest_ind(np.array(Results2['SFS_2']), np.array(Results2['BPSO_2']))

In [75]:
t_value5

4.767970842543958

In [76]:
from scipy import stats
t_value6, p_value6 = stats.ttest_ind(np.array(Results2['SFS_2']), np.array(Results2['BPSO_OBL_2']))

In [77]:
t_value6

3.514565732676883